body{
    background-color:rgba(31, 173, 224, 0.756) ;
    color:whitesmoke
}

header {
    margin-top: 7em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > img {
    border-radius: 100%;
    border: 1px solid blueviolet;
}

ul{
    box-sizing: border-box;
    list-style: none;
    margin: 0 auto; 
    padding: 2em; 
}

ul > li{
    background-color: white;
    border-radius: 5em;
    padding: 1em;
    margin: 1em auto;
    box-shadow: 0 0 0.5em #000a;
    text-align: center;
}

ul > li > a {
    color: black;
    text-decoration: none;
}
